.product{
    //  height: 100vh;
    .side-bar-poduct-order-page{
        font-weight: 500;
        // height: 100%;
        height: calc(100vh - 15vh);
        background-color: rgba(0, 0, 0, 0.173);
        .side_bar_menu{
            overflow-y: scroll;
            &::-webkit-scrollbar {
              display: none;               /* Chiều rộng vùng chứa scrollbar */
             }
            &::-webkit-scrollbar-track {
               background: #ccc;        /* Màu nền ngoài của thanh scrollbar */
             }
            &::-webkit-scrollbar-thumb {
               border-radius: 5px;
               background-color: transparent;
               
             }
            &::-webkit-scrollbar-thumb:hover { 
               background-color:rgba(0, 0, 0, 0.142) ; /* Hiệu ứng di chuột đổi màu*/
           }
         }
    }
    .content-product-order-page{
           display: flex;
            flex-direction: column;
          
            justify-content: space-around;
        .search-product-order-page{
         
            width: 100%;
            
        }
        .list-product-order-page{
             height: calc(100vh - 10vh);
            height: 100%;
            padding: 5px;
            .empty-product{
                display: flex;
                flex-direction: column;
                padding-left: 280px;
                padding-top: 150px;
                .icon-empty-product{
                    font-size: 5rem;
                    color: rgba(0, 0, 0, 0.414);
                }
                .title-empy-product{
                    color: rgba(0, 0, 0, 0.47);
                    font-weight: 500;
                }
            }
        }
        .pagination-proudct-order-page{
            align-self: center;
        }
    }
}